.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(78, 158, 237);
    align-items: center;
    height: 60px;
    padding: 0 20px;

    &__logo {
        h4 {
            color: white;
            font-weight: 300;
        }
    }

    .button {
        background-color: white;

    }
    .button:hover{
        background-color: rgb(191, 191, 229);
    }


}